
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddToCart</h2>

<table>
    <tr>
        <td>
            obrazek
        </td>
        <td>
            Nazwa
        </td>
        <td>
            Ilość
        </td>
        <td>
            Cena
        </td>
        <td>
            button delete
        </td>
    </tr>
    <tr>
        <td>
            <img src="~/Images/ProductsPic/but1.png" />
        </td>
        <td>
            574
        </td>
        <td>
            1
        </td>
        <td>
            299
        </td>
        <td>
            <input type="button" value="Usuń z koszyka" />
        </td>
    </tr>
    @foreach (var cartItem in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(@cartItem.Product.Picture)" />
            </td>
            <td>
                @cartItem.Product.Name
            </td>
            <td>
                @cartItem.Quantity
            </td>
            <td>
                @cartItem.TotalPrice
            </td>
            <td>
                <input type="button" value="Usuń z koszyka" />
            </td>
        </tr>
    }
</table>