@model List<SportsStore.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("CategoriesMenu", "Store")
<table>
    <tr>
        <td>
            obrazek
        </td>
        <td>
            Nazwa
        </td>
        <td>
            Ilość
        </td>
        <td>
            Cena
        </td>
        <td>

        </td>
    </tr>
    @foreach (var cartItem in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(@cartItem.Product.Picture)" />
            </td>
            <td>
                @cartItem.Product.Name
            </td>
            <td>
                @cartItem.Count
            </td>
            <td>
                <a href="/Cart/RemoveFromCart/@cartItem.Product.Id" class="btn btn-default">
                    Usuń z koszyka
                </a>
            </td>
        </tr>
    }
</table>