@model SportsStore.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Sports Store";
}

@Html.Action("CategoriesMenu","Store")

<section>
    <ul>
        @foreach(var product in Model.Products)
        {
            <li>
                <article>
                    <a class="cartLogo" href="@Url.Action("AddToCart", "Cart", new { id = product.Id})">
                        <img class="card-icon" src="~/Images/cartIcon.png" /><br />
                    </a>
                   <a class="productImg" href="@Url.Action("Details","Store", new { id = product.Id})">
                        <div>
                            <img src="@Url.Content(product.Picture)">

                        </div>
                        <h5>
                            @product.Producer - @product.Name
                        </h5>    
                    </a>
                </article>
            </li>
        }
    </ul>  
    <div class="clearboth"></div>
</section>