@model SportsStore.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Sports Store";
}
<nav class="navbar-default">
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>
                <a href="@Url.Action("List", "Store", new {categoryname = category.Name.ToLower()})">
                    @category.Name
                </a>
            </li>
        }
    </ul>
</nav> 

<section>
    <ul>
        @foreach(var product in Model.Products)
        {
            <li>
                <article>
                    <a style="background-color:red" href="@Url.Action("AddToCart", "Cart", new { id = product.Id})">
                        <img src="~/Images/cartIcon.png"/><br/>
                    </a>

                    <a href="@Url.Action("Details","Store", new { id = product.Id})">
                        <div style="background-color:yellow; width:202px; height:100px;">
                            <img src="@Url.Content(product.Picture)">
                        </div>
                        <h5>
                            @product.Producer - @product.Name
                        </h5>    
                    </a>
                </article>
            </li>
        }
    </ul>  
</section>