<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MainLayout.css")
    @Scripts.Render("~/bundles/modernizr")
    
</head> 
<body>
    <div class="maincontainer">
        <div class="banner">
            <div class="cartIcon">
                <a href="/Cart">
                    <img class="card-icon" src="~/Images/cartIcon.png" alt="Przejdź do koszyka" />
                </a>
            </div>
            <div class="logoIcon">
                <a href="@Url.Action("Index","Home")">
                    <img src="~/Images/logo.png" />
                </a>
            </div>
        </div>
        <div class="categoryMenu">
           

        </div>
        <div class="placeholder">
            @RenderBody()
        </div>
        <footer>
            <div class="footerMenu">
                <nav>
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Kontakt", "Contact", "Home", null)
                        </li>
                        <li>
                            @Html.ActionLink("O nas", "About", "Home", null)
                        </li>
                        <li>
                            @Html.ActionLink("Regulamin", "Statute", "Home", null)
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footerText">
                &copy; @DateTime.Now.Year - SportsStore
            </div>
            <div class="clearboth"></div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
