@model IEnumerable<SportsStore.Models.Category>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Antic+Slab|Boogaloo|Josefin+Sans:400,700,700i|Kavivanar|Poppins:400,600,600i,700,700i|Raleway:400,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Content/SkryptyOli.css" rel="stylesheet" />
</head>

<h2>Kategorie</h2>

<p>
    @Html.ActionLink("Dodaj kategorię", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" style="padding:2rem">
    <tr>
        <th>
            Nazwa kategorii
        </th>
        <th>
            Ukryta
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Hidden ? "Tak" : "Nie")
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
