@model SportsStore.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div>
    @Html.Action("CategoriesMenu")
</div>

<div>
    <div>
        <section>
            <div>

                <img src="@Url.Content(Model.Picture)" />

                <div>
                    <a href="https://www.facebook.com"></a>
                    <div></div>
                    <a href="https:/ /www.twitter.com"></a>
                </div>

            </div>

            <div>
                <div>

                    <h1>
                        @Model.Name
                    </h1>

                    <h2>
                        @Model.Producer
                    </h2>

                </div>

                <div>
                    <div>
                        @Model.Price
                    </div>
                    <a href="@Url.Action("AddToCart","Cart", new { id = Model.Id })">
                        <img class="card-icon" src="@Url.Content("~/Images/cartIcon.png")" alt="Dodaj do koszyka" />
                    </a>

                </div>

                <div>
                    @Model.Description
                </div>

                <div>
                    Bezpłatna przesyłka w ciągu 24h.
                </div>
            </div>

        </section>

    </div>
</div>
