@model SportsStore.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Twoje zamówienie</h4>
        <hr />

        <table>
            <tr>
                <td>
                    obrazek
                </td>
                <td>
                    Nazwa
                </td>
                <td>
                    Ilość
                </td>
                <td>
                    Cena
                </td>
                <td></td>
            </tr>
            @foreach (var cartItem in Model.Card)
            {
                <tr>
                    <td>
                        <img class="productImg" src="@Url.Content(@cartItem.Product.Picture)" />
                    </td>
                    <td>
                        @cartItem.Product.Name
                    </td>
                    <td>
                        @cartItem.Count
                    </td>
                    <td>
                        @(cartItem.Count * cartItem.Product.Price)
                    </td>
                    <td>
                        <a href="/Cart/RemoveFromCart/@cartItem.Product.Id" class="btn btn-default">
                            Usuń z koszyka
                        </a>
                    </td>
                </tr>
            }
        </table>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Sposób zapłaty</label>
            </div>
            <div class="col-md-10">
                <select class="form-control" id="Payment" name="Payment">
                    <option value="BLIK">BLIK</option>
                    <option value="Przelew internetowy">Przelew internetowy</option>
                    <option value="Przelew tradycyjny">Przelew tradycyjny</option>
                    <option value="PayPal">PayPal</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Sposób dostawy</label>
            </div>
            <div class="col-md-10">
                <select class="form-control" id="Shipment" name="Shipment">
                    <option value="Odbiór w paczkomacie">Odbiór w paczkomacie</option>
                    <option value="Dostawa przez kuriera">Dostawa przez kuriera</option>
                    <option value="Kiosk Ruchu">Kiosk Ruchu</option>
                    <option value="Odbiór osobisty">Odbiór osobisty</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Adres dostawy</label>
            </div>
            <div class="col-md-10">
                <input value="@Model.UserAddress" class="form-control" id="Address" name="Address" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
