@model SportsStore.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Tworzenia zamówienia";
}

<head>
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Antic+Slab|Boogaloo|Josefin+Sans:400,700,700i|Kavivanar|Poppins:400,600,600i,700,700i|Raleway:400,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<h2 style="font-family: Poppins; font-weight:700; text-align: center;">Twoje zamówienie</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <table class="table table-bordered">
            <tr>
                <td style="text-align:center;">
                    Zdjęcie
                </td>
                <td style="text-align:center;">
                    Nazwa
                </td>
                <td style="text-align:center;">
                    Ilość
                </td>
                <td style="text-align:center;">
                    Cena
                </td>
                <td></td>
            </tr>
            @foreach (var cartItem in Model.Card)
            {
                <tr>
                    <td>
                        <img class="productImg" src="@Url.Content(@cartItem.Product.Picture)" />
                    </td>
                    <td>
                        @cartItem.Product.Name
                    </td>
                    <td>
                        @cartItem.Count
                    </td>
                    <td>
                        @(cartItem.Count * cartItem.Product.Price)
                    </td>
                    <td>
                        <a href="/Cart/RemoveFromCart/@cartItem.Product.Id" class="btn btn-default">
                            Usuń z koszyka
                        </a>
                    </td>
                </tr>
            }
        </table>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Sposób zapłaty</label>
            </div>
            <div class="col-md-10">
                <select class="form-control" id="Payment" name="Payment">
                    <option value="BLIK">BLIK</option>
                    <option value="Przelew internetowy">Przelew internetowy</option>
                    <option value="Przelew tradycyjny">Przelew tradycyjny</option>
                    <option value="PayPal">PayPal</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Sposób dostawy</label>
            </div>
            <div class="col-md-10">
                <select class="form-control" id="Shipment" name="Shipment">
                    <option value="Odbiór w paczkomacie">Odbiór w paczkomacie</option>
                    <option value="Dostawa przez kuriera">Dostawa przez kuriera</option>
                    <option value="Kiosk Ruchu">Kiosk Ruchu</option>
                    <option value="Odbiór osobisty">Odbiór osobisty</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Adres dostawy</label>
            </div>
            <div class="col-md-10">
                <input value="@Model.UserAddress" class="form-control" id="Address" name="Address" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zamów" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróc do koszyka", "Index", "Cart", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
