@model SportsStore.Models.Order

@{
    ViewBag.Title = "Szczegóły zamówienia";
}

<head>
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Antic+Slab|Boogaloo|Josefin+Sans:400,700,700i|Kavivanar|Poppins:400,600,600i,700,700i|Raleway:400,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<h2 style=" font-family:Poppins;font-weight:700; text-align:center;">Szczegóły zamówienia z dnia: @Html.DisplayFor(model => model.CreationDate)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt style="font-family: Raleway; font-size:18px; font-weight:700; ">
            Zamawiający
        </dt>

        <dd style="font-family: Kavivanar; font-size:18px; ">
            @Model.AspNetUser.FirstName @Model.AspNetUser.LastName (@Model.AspNetUser.Email)
        </dd>

        <dt style="font-family: Raleway; font-size:18px; font-weight:700; ">
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd style="font-family: Kavivanar; font-size:18px; ">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt style="font-family: Raleway; font-size:18px; font-weight:700;">
            Metoda platności
        </dt>

        <dd style="font-family: Kavivanar; font-size:18px; ">
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt style="font-family: Raleway; font-size:18px; font-weight:700;">
            Sposób dostawy
        </dt>

        <dd style="font-family: Kavivanar; font-size:18px; ">
            @Html.DisplayFor(model => model.Shipment)
        </dd>

        <dt style="font-family: Raleway; font-size:18px; font-weight:700;">
            Adres dostawy
        </dt>

        <dd style="font-family: Kavivanar; font-size:18px; ">
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
    <table class="table" style="text-align:center">
        <tr style=" background-color: darkgray;font-family: Poppins;font-size: 15px;font-weight: 700;text-align:center;">
            <td style="text-align:center;">
                Obrazek
            </td>
            <td style="text-align:center;">
                Nazwa
            </td>
            <td style="text-align:center;">
                Ilość
            </td>
            <td style="text-align:center;">
                Cena
            </td>
            <td style="text-align:center;">
                Razem
            </td>
        </tr>
        @foreach (var productOrder in Model.Order_Product)
        {
            <tr>
                <td>
                    <img class="productImg" src="@Url.Content(@productOrder.Product.Picture)" />
                </td>
                <td>
                    @productOrder.Product.Name
                </td>
                <td>
                    @productOrder.Amount
                </td>
                <td>
                    @productOrder.Product.Price
                </td>
                <td>
                    @(productOrder.Product.Price * productOrder.Amount)
                </td>
            </tr>
        }
    </table>
    <p style="font-weight:600;font-size:20px;">Razem: @Model.Order_Product.Sum(x => x.Amount * x.Product.Price)</p>
</div>
<p>
    @Html.ActionLink("Powrót do listy zamówień", "IndexAdmin", null, new { @class = "btn btn-primary" })
</p>
