
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a style=" background-color: blue; width: 200px; height: 200px; float: left;" href="@Url.Action("Index","Products")">
    <div>
        Zarzadzaj produktami
    </div>
</a>
<a href="@Url.Action("Index","Categories")">
    <div style="background-color:red; width:200px; height:200px; margin-left:10px; float: left;">
        Zarzadzaj kategoriami
    </div>
</a>
<a href="@Url.Action("Index","AspNetUsers")">
    <div style="background-color:yellow; width:200px; height:200px; margin-left:10px; float: left;">
        Zarzadzaj klientami
    </div>
</a>
<a href="@Url.Action("Index","Settings")">
    <div style="background-color:green; width:200px; height:200px; margin-left:10px; float: left;">
        Ustawienia
    </div>
</a>
<a href="@Url.Action("Index","Orders")">
    <div style="background-color:orange; width:200px; height:200px; margin-left:10px; float: left;">
        Zarzadzaj zamówieniami
    </div>
</a>

<div style="clear:both"></div>
