
@{
    ViewBag.Title = "Panel administracyjny";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <h2>Panel Administracyjny</h2>
</div>
<div class="tiles-container">
    <a href="@Url.Action("Index","Products")">
        <div class="custom-tile" style=" background-color: #1A659E;">
            <p>Zarzadzaj produktami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Categories")">
        <div class="custom-tile" style="background-color:#004E89;">
            <p>Zarzadzaj kategoriami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","AspNetUsers")">
        <div class="custom-tile" style="background-color:#D0EFD6;">
            <p>Zarzadzaj klientami</p>
        </div>
    </a> 
    <a href="@Url.Action("Index","Orders")">
        <div class="custom-tile" style="background-color:#F7C59F;">
            <p>Zarzadzaj zamówieniami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Settings")">
        <div class="custom-tile" style="background-color:#FF6B35;">
            <p>Ustawienia aplikacji</p>
        </div>
    </a>
</div>
