@model SportsStore.Models.Product

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy usunąć produkt?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa produktu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Zdjęcie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            Ukryty
        </dt>

        <dd>
            @(Model.Hidden? "Tak":"Nie")
        </dd>

        <dt>
            Producent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
           Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Kategoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" />
            @Html.ActionLink("Powrót to listy produktów", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
