@model IEnumerable<SportsStore.Models.Product>

@{
    ViewBag.Title = "Lista produktów";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Antic+Slab|Boogaloo|Josefin+Sans:400,700,700i|Kavivanar|Poppins:400,600,600i,700,700i|Raleway:400,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Content/SkryptyOli.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>

<h2 style="font-family;Poppins; font-weight:700;">Produkty</h2>

<p>
    @Html.ActionLink("Dodaj nowy produkt", "Create", null, new { @class="btn btn-primary" })
</p>
<table class="table table-hover">
    <tr style="background-color:darkgray; font-family:Josefin Sans; font-size:15px; font-weight:700;">
        <th style="text-align:center;">
            Nazwa produktu
        </th>
        <th style="text-align:center;">
            Cena
        </th>
        <th style="text-align:center;">
            Zdjęcie
        </th>
        <th style="text-align:center;">
            Ukryty
        </th>
        <th style="text-align:center;">
            Producent
        </th>
        <th style="text-align:center;">
            Krótki opis
        </th>
        <th style="text-align:center;">
            Kategoria
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td style="text-align:center;">
            <img class="productImg" src="@Url.Content(item.Picture)" />
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Hidden)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Producer)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Category.Name) 
        </td>
        <td style="text-align:center;">
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
