@model IEnumerable<SportsStore.Models.Product>
@{
    ViewBag.Title = "Wyszukiwanie zaawansowane";
}
<head>
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Antic+Slab|Boogaloo|Josefin+Sans:400,700,700i|Kavivanar|Poppins:400,600,600i,700,700i|Raleway:400,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<h2 h2 style="font-family: Poppins; font-weight:700; text-align: center;">Wyszukiwanie zaawansowane</h2>

@using (Html.BeginForm("Advanced", "Search", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="advanced-search">
        <label>Nazwa</label>
        <input class="form-control" id="Name" name="Name" />
        <label>Krótki opis</label>
        <input class="form-control" id="ShortDescription" name="ShortDescription" />
        <label>Opis</label>
        <input class="form-control" id="Description" name="Description" />
        <label>Kategoria</label>
        <input class="form-control" id="Category" name="Category" />
        <label>Producent</label>
        <input class="form-control" id="Producer" name="Producer" />
        <input type="submit" value="Szukaj" class="btn btn-default" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img class="productImg" src="@Url.Content(item.Picture)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Products", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>

